:root {
  --link-color: darkorange;
  --hover-color: #0c0904;
  --menu-link-hover: white;
}
body {
  background: url("../../content/assets/bg.png") no-repeat center center fixed;
}
p {
  margin-bottom: inherit;
}
a {
  transition: all 0.5s;
}
.inner-wrapper {
  max-width: 80vw;
  margin: 0 auto;
}
header .inner-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}
.menu-list-item {
  list-style: none;
}
.menu-item-link {
  text-decoration: none;
}
pre {
  background: mistyrose;
  padding: 1rem 2rem;
  overflow-x: auto;
}
a {
  color: var(--link-color);
}
a:hover {
  color: var(--hover-color);
}
.menu-item-link:hover {
  color: var(--menu-link-hover);
}
